.InputButtonPanel-Wrap {
  overflow: hidden;
  color: #333;
  width: 264px;
  background: rgba(219, 224, 229, 0.5);
  border-radius: 8px;
  padding: 16px 16px 8px 16px;
}

.InputButtonPanel-Wrap button {
  cursor: pointer;
  border-radius: 6px;
  width: 60px;
  border: none;
  font-size: 20px;
  padding: 0;
}

.InputButtonPanel-Number {
  float: left;
}
.InputButtonPanel-Cell {
  width: 60px;
  height: 60px;
  margin: 0 8px 8px 0;
  float: left;
}

.InputButtonPanel-Cell button {
  height: 60px;
  background: #fff;
  box-shadow: inset 0 -2px 0 0 rgba(173, 180, 188, 0.6);
  color: #505766;
}

.InputButtonPanel-Cell button:hover {
  background: #dcdde0;
}
.InputButtonPanel-Cell button:active {
  background: #b9bcc2;
  box-shadow: inset 0 -2px 0 0 #888d98;
}

.InputButtonPanel-Operator {
  float: left;
}

.InputButtonPanel-Operator button {
  height: 128px;
  background: #dcdde0;
  margin-bottom: 8px;
  box-shadow: inset 0 -2px 0 0 #bfc1c7;
}

.InputButtonPanel-Operator button:hover {
  background: #d3d3d6;
}
.InputButtonPanel-Operator button:active {
  background: #b9bcc2;
  box-shadow: inset 0 -2px 0 0 #888d98;
}
.InputButtonPanel-Operator .InputButtonPanel-hasSure button {
  height: 60px;
}

.InputButtonPanel-Sure button {
  background: linear-gradient(45deg, #ee2223 0%, #fc4c2f 100%);
  color: #fff;
  box-shadow: inset 0 -2px 0 0 #db0001;
}

.InputButtonPanel-Sure button:hover {
  background: linear-gradient(45deg, #fc4c2f 0%, #ee2223 100%);
}
