

.demo-layoutVerticalCenter{
    height: 600px;
    position: relative;
}

    
.demo-layoutVerticalCenter-content{
    top: 0;
    width: 100px;
    height: 100px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    position: absolute;
    text-align: center;
    border: 1px solid salmon;
}