.demo-layout0-leftNav{
    position: absolute;
    width: 200px;
    background-color: #eee;
    height: 100%;
    overflow: auto;
    top: 0;
    left: 0;
}


.demo-layout0-rightContent{
    margin-left: 200px;
    padding:10px; 
}